@media screen and (min-width: 900px) {

	html,
	body {
        position: relative;
        height: auto;
        min-height: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 17%;
        font-size: 62.5%;
        box-sizing: border-box;
        -webkit-text-size-adjust: 100%; 
		background:  linear-gradient(rgba(128, 199, 226, 0.3), rgb(13, 22, 29)) fixed, url("../img/bg.png") top center fixed;
		background-size: cover;
		font-family: Furuta, "Trebuchet MS", Arial, sans-serif;
	}
	
	body{
        font-size: 200%;
        vertical-align: middle;
        text-align: center;
    }

	nav{
		flex: 2;
	}

	select{
		width: 150%;
		margin: auto;
	}

	ul{
		display: table-cell;
		padding: 0;
		margin-top: 8%;
		list-style: none;
		text-align: center; 
	}

	.header2{
		display: flex;
		width: 80%;
		height: 10vh;
		margin: auto;
		align-items: center;
	}
	
	.header3{
		display: flex;
		width: 80%;
		height: 6vh;
		margin: auto;
		align-items: center;
	}


	.logo-container,
	.navlink,
	.cart {
		display: flex;
	}
	.logo-container {
		flex: 1;
	}
	
	.logostyle {
        width: 120%;
        height: 120%; 
    }

	.nav{
		font-size: 62.5%;
		width: 100%;
		height: 55px;
		position: fixed;
		line-height: 65px;
		text-align: center;
		z-index:999;
	}

	.nav{
		padding-top: 20px;
		padding-bottom: 20px;
		-webkit-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}

	.navlink{
		justify-content: space-around;
		list-style: none;
		float: right;
	}

	.nav div.logo {
        float: left;
        height: 45px;
    } 

    .nav div.logo ul {
        display: flex;
        width: 100%;
        height: 45px;
        padding-left: 3rem;
        margin: 0;
        list-style: none;
    }

    .nav div.logo ul li {
        width: auto;
        height: 20px;
        padding-right: 1rem;
    }
    
    .nav div.logo a {
        font-size: 135%;
        text-decoration: none;
        color: #fff;
    }

    .nav div.logo a:hover {
        color: #000000;
    }

    .nav div.main_list {
        float: right;
        height: 45px;
    }

    .nav div.main_list ul {
        display: flex;
        width: 100%;
        height: 45px;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .nav div.main_list ul li {
        width: auto;
        height: 45px;
        padding-right: 3rem;
    }

    .nav div.main_list ul li a {
        font-size: 2.4rem;
        line-height: 45px;
        text-decoration: none;
        color: #fff;
    }

    .nav div.main_list ul li a:hover {
        color: #000000;
    }

	.nav{
		text-decoration: none;
		padding-right: 20px;
		font-size: 20px;
		color: white;
	}

	.subheader{
		color: white;
		float: right;
	}

	.affix {
		padding: 0;
		background-color: #2da5c0;
	}

	.border{
		top: 100px;
		width: 80%;
		margin: auto;
		position: relative;
		text-align: center;
	}

	.whiteborder{
		margin: auto;
		text-align: center;
		background-position: bottom;
		background-attachment: fixed;
		background-color: white;
	}

	.cyanborder{
		width: 80%;
		margin: auto;
		text-align: center;
		background-position: bottom;
		background-attachment: fixed;
		background-color: #8EC1D3;
	}

	.wtl {
		text-align: left;
		padding-left: 10%;
	}

	.wtll {
		text-align: left;
		padding-left: 15%;
	}

	.wl {
		text-align: left;
		padding-left: 10%;
	}

	.ctl {
		text-align: left;
		padding-left: 3%;
	}

	.cfr {
		text-align: right;
		padding-right: 3%;
	}

	.fr {
		float:right;
	}

	.gray {
		color: gray;
	}

	.green {
		color: green;
	}

	.red {
		color: red;
	}

	.button1 {
		background-color: #5A0000;
		border: none;
		color: white;
		width: 120px;
		height: 50px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}

	.button2 {
		background-color: #0C343D;
		border: none;
		color: white;
		width: 120px;
		height: 50px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}

	.button3 {
		background-color: #0C343D;
		border: none;
		color: white;
		width: 250px;
		height: 50px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}

	.button4 {
		background-color: #0C343D;
		border: none;
		color: white;
		width: 250px;
		height: 50px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}

	.f2 {
		flex: 2;
	}

	.blk {
		display: block;
	}

	.option {
		min-width:20px;
		padding-left: 60px;
	}


	form.example input[type=text] {
		padding: 10px;
		font-size: 17px;
		border: 1px solid grey;
		width: 80%;
		background: #f1f1f1;
		display: inline;
	}

	form.example button {
		background-color: #0C343D;
		border: none;
		color: white;
		width: 32.5px;
		height: 32.5px;
		text-align: center;
		display: inline-block;
		font-size: 16px;
		cursor: pointer;
	}

	form.example button:hover {
		background: #0b7dda;
	}

	form.example::after {
		content: "";
		clear: both;
		display: table;
	}

	.nav a.icon {
		color: white;
		padding: 14px 20px;
		text-decoration: none;
		font-size: 17px;
		display: none;
	}

	.nav a.icon {
		width: 2%;
        height: 5%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		display: none;
		position: absolute;
		right: 0;
		top: 0;
	}
}