@media screen and (max-width: 900px) {

body {
	background-image: url("../img/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	font-family: Furuta, "Trebuchet MS", Arial, sans-serif;
	font-size: 120%;
}

nav{
	flex: 2;
}

select{
	width: 150%;
	margin: auto;
}

.header{
	display: flex;
	width: 100%;
	height: 6vh;
	margin: auto;
	align-items: center;
}

.header2{
	display: flex;
	width: 80%;
	height: 10vh;
	margin: auto;
	align-items: center;
}


.logo-container,
.navlink,
.cart {
	display: flex;
}
.logo-container {
	flex: 1;
}

.nav1{
	font-size: 62.5%;
    width: 100%;
    position: fixed;
    line-height: 50px;
    text-align: center;
    z-index:999;
}

.navlink{
	justify-content: space-around;
	list-style: none;
	float: right;
}

.nav{
	text-decoration: none;
	padding-right: 20px;
	font-size: 20px;
	color: white;
}

.subheader{
	color: white;
	float: right;
}

.affix {
    padding: 0;
    background-color: #8EC1D3;
}

.border{
	width: 80%;
	margin: auto;
	position: relative;
	text-align: center;
}

.whiteborder{
	margin: auto;
	text-align: center;
	background-position: bottom;
	background-attachment: fixed;
	background-color: white;
}

.cyanborder{
	width: 80%;
	margin: auto;
	text-align: center;
	background-position: bottom;
	background-attachment: fixed;
	background-color: #8EC1D3;
}

.wtl {
	text-align: left;
	padding-left: 10%;
}

.wtll {
	text-align: left;
	padding-left: 15%;
}

.wl {
	text-align: left;
	padding-left: 10%;
}

.ctl {
	text-align: left;
	padding-left: 3%;
}

.cfr {
	text-align: right;
	padding-right: 3%;
}

.fr {
	float:right;
}

.gray {
	color: gray;
}

.green {
	color: green;
}

.red {
	color: red;
}

.button1 {
  background-color: #5A0000;
  border: none;
  color: white;
  width: 70px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: #0C343D;
  border: none;
  color: white;
  width: 70px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button3 {
  background-color: #0C343D;
  border: none;
  color: white;
  width: 70px;
  height: 55px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button4 {
  background-color: #0C343D;
  border: none;
  color: white;
  width: 70px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.f2 {
	flex: 2;
}

.blk {
	display: block;
}

.option {
	min-width:20px;
}


form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 80%;
  background: #f1f1f1;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
}