@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

@media screen and (min-width: 900px) {

    html, 
    body {
        position: relative;
        height: auto;
        min-height: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 17%;
        font-size: 62.5%;
        font-family: "Quicksand", sans-serif;
        box-sizing: border-box;
        -webkit-text-size-adjust: 100%; 
        background:  linear-gradient(rgba(128, 199, 226, 0.3), rgb(13, 22, 29)) fixed, url("../img/bg.png") top center fixed;
        background-size: cover;
    }

    body{
        font-size: 200%;
        vertical-align: middle;
        text-align: center;
    }
    
    ul{
        display: table-cell;
        padding: 0;
        margin-top: 10%;
        margin-right: 10%;
        list-style: none;
        text-align: center; 
    }

    .listyle {
        float: right;
        margin-top: 46%;
    }
    
    .listyle2 {
        float: left;
        margin-top: 3%;
        margin-left: 20%;
    }
    
    .listyle3 {
        float: right;
        margin-top: 34%;
    }
    
    .listyle4 {
        float: right;
        margin-top: 42%;
    }
    
    .listyle5 {
        float: right;
        margin-top: 32.5%;
    }

    .listyle6 {
        float: right;
        width: 35%;
        margin-top: 72%;
        margin-left: 40%;
    }

    .listyle7 {
        float: right;
        margin-right: 100px;
    }

    .listyle8 {
        float: right;
        margin-top: 98%;
    }

    .listyle9 {
        float: right;
        margin-top: 32.5%;
    }

    .listyle10 {
        margin-top: 10%;
	float: left;
        margin-left: 0%;
    }

    .listyle11 {
        margin-top: 5%;
	float: left;
        margin-left: 0%;
    }

    .listyle12 {
        margin-top: 5%;
	float: left;
        margin-left: 5%;
        margin-right: 100%;
    }

    .listyle13 {
        margin-top: 3%;
	float: left;
        margin-left: 15%;
        margin-right: 10%;
	font-weight: bolder;
    }

    .listyle14 {
        margin-top: 3%;
	float: left;
        margin-left: 0%;
	font-weight: bolder;
    }

    .listyle15 {
	float: left;
        margin-left: 15%;
        margin-right: 5%;
	padding: 6px;
        font-size: 110%;
        border-radius: 4px;
	box-shadow: 2px 2px #888888;
    }

    input { 
        float: left;
        margin-top: 10%;
        font-size: 85%;
        border: 1px solid #ccc; 
        border-radius: 4px;
    }

    .input1 {
        width: 250px;
        height: 35px;
        padding: 12px;
        margin-top: 15%;
    }
    
    .input2 {
        width: 250px;
        height: 35px;
        padding: 12px;
    }
    
    .input3 {
        margin-top: 190%;
    }
    
    .input4 {
        margin-top: 18%;
        margin-left: 15%;
    }
    
    .input5 {
        width: 70px;
        height: 35px;
        padding: 12px;
        margin-top: 40%;
        text-align: center;
    }

    .input6 {
        width: 100px;
        height: 35px;
        padding: 12px;
        margin-top: 40%;
        text-align: center;
    }

    .input7 {
        width: 350px;
        height: 45px;
        padding: 15px;
        margin-top: 2%;
	border: 1px solid black;
        box-shadow: 2px 2px #888888;
    }

    .input8 {
        width: 450px;
        height: 50px;
        padding: 35px;
	border: 1px solid black;
        box-shadow: 2px 2px #888888;
    }



    textarea { 
        float: left;
        width: 250px;
        height: 90px;
        padding: 12px;
        margin-top: 17%;
        font-size: 100%;
        border: 1px solid #ccc; 
        border-radius: 4px;
    }

    select { 
        margin-top: 10%;
        font-size: 80%;
        border: 1px solid #ccc; 
        border-radius: 4px;
    }
    
    .selecttype {
        float: left;
        padding: 6px;
        margin-top: 35%;
    }
    
    .selectyear {
        float: left;
        padding: 6px;
        margin-top: 14%;
        margin-left: 20%;
    }

    .selectcategory {
        float: left;
        padding: 6px;
        margin-top: 23%;
        margin-bottom: 5%;
        margin-left: 0;
    }
    
    .selectstatus {
        float: left;
        padding: 6px;
        margin-top: 13.5%;
        margin-right: 20%;
        margin-left: 20%;
    }

    .radio1 {
        float: left;
        margin-top: 15%;
        margin-left: 2%;
    }
    
    .radio2 {
        float: left;
        margin-top: 14.5%;
        margin-left: 2%;
    }

    h1 { 
        padding-top: 120px; 
        color: white;
    }

    .logostyle {
        width: 100%;
        height: 100%;
        padding-top: 5px;
    }
    
    .centerimage {
         display: block;
         margin-left: auto;
         margin-right: auto;
         width: 20%;
    }

    .center {
        position: absolute;
        display: block;
        overflow: auto;
        width: 55%;
        min-height: 100%;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        border: 2px solid black;
        background-color: white; 
    }

    .centersignup {
        position: absolute;
        display: block;
        overflow: auto;
        width: 40%;
        min-height: 25%;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        border: 2px solid black;
        background-color: white; 
	border-style: solid;
	border-color: #15f4ee;
    }      

    .labelfont {
        font-size: 80%;
    }

    .nav {
        position: fixed;
        width: 100%;
        height: 55px;
        font-size: 62.5%;
        line-height: 65px;
        text-align: center;
        z-index:999;
    }

    .nav div.logo {
        float: left;
        height: 45px;     
    } 

    .nav div.logo ul {
        display: flex;
        width: 100%;
        height: 45px;
        padding-left: 3rem;
        margin: 0;
        list-style: none;
    }

    .nav div.logo ul li {
        padding-right: 3rem;
    }

    .nav div.logo a {
        font-size: 2.5rem;
        line-height: 45px;
        text-decoration: none;
        color: #fff;
    }
    
    .nav div.logo a:hover {
        color: #000000;
    }

    .nav div.main_list {
        float: right;
        height: 45px;
    }

    .nav div.main_list ul {
        display: flex;
        width: 100%;
        height: 45px;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .nav div.main_list ul li {
        width: auto;
        height: 45px;
        padding-right: 3rem;
    }

    .nav div.main_list ul li a {
        font-size: 2.4rem;
        line-height: 45px;
        text-decoration: none;
        color: #fff;
    }

    .nav div.main_list ul li a:hover {
        color: #000000;
    }

    .nav {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .affix {
        padding: 0;
        background-color: #2da5c0;
    }

    .affix2 {
        width: 600px; 
        height: 80px; 
        margin-bottom: 3%; 
	font-size: 38px;
	border-radius: 4px;
	margin:0 auto;	
    }

   .affix3 {
	color: white;
	padding: 15px 15px;
	background-color: #003333;
	}

    button { 
        width: 200px; 
        height: 40px; 
        margin-top: 8%; 
        margin-bottom: 3%; 
        font-size: 85%;
        font-family: Trebuchet MS; 
        border: 1px solid #111;
        background-color: #0C343D;
        color: #ffffff;
    }

    button:hover {
        border:1px solid #111;
        background-color: #ffffff;
        color: #0C343D;
    }

    button.back {
        width: 90px; 
        height: 40px;
    }
	
    .padding {
	padding-bottom: 600px;
    }
}
